# Server Configuration
HOST=
PORT=

# Application Security
APP_KEYS=
JWT_SECRET=
ADMIN_JWT_SECRET=
API_TOKEN_SALT=
TRANSFER_TOKEN_SALT=

# Database Configuration
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_USERNAME=
DATABASE_PORT=
DATABASE_SSL=
DATABASE_NAME=

# Backend URLs
BACKEND_URL_LOCAL=
RESET_PWD_PAGE=
VORPRUEFUNG_REVIEW_PAGE=

# Error Tracking
SENTRY_DSN=

# Email Configuration
EMAIL_AUTH=
EMAIL_PASS=
SMTP_HOST=
SMTP_PORT=
DEF_FROM=
DEF_REPLYTO=

# Emailing Center
EC_DEF_FROM=

# Slack Integration
SLACK_HOOK_URL=
SLACK_HOOK_PASS=
